VITE_SUPABASE_URL=https://ergqqdirsvmamowpklia.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVyZ3FxZGlyc3ZtYW1vd3BrbGlhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAzMDYwODUsImV4cCI6MjA3NTg4MjA4NX0.n0INTqBIpV_syzZxCiqrOHud48uSqWLughclvE3SZks
VITE_EDGE_URL=https://ergqqdirsvmamowpklia.functions.supabase.co            